#projects{
    background-color: #1A1A40;
    color: white;
    padding: 2% 5%;
}
#projects h1{
    text-align: center;
}

#projects-cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: space-around;
} 