#my_img {
  /* background-color: rgb(248, 248, 248); */
  height: 350px;
  box-shadow: 0 2px 4px gray;
  border-radius: 50vh;
  transition: all 0.6s;
  background: rgb(226, 226, 226);
  /* background: linear-gradient(
    180deg,
    rgba(226, 226, 226, 1) 26%,
    rgba(131, 131, 131, 1) 53%,
    rgba(80, 80, 80, 1) 85%
  ); */
}
#about {
  margin-top: 56px;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 2%;
  color: #393232;
  transition: color 0.3s;
  /* background: rgb(240, 240, 240);
  background: linear-gradient(
    180deg,
    rgba(240, 240, 240, 1) 27%,
    rgba(82, 82, 82, 1) 63%,
    rgba(19, 19, 19, 1) 82%
  ); */
}
#about-txt {
  font-weight: 400;
  font-size: 20px;
  max-width: 600px;
  margin: auto;
}
#about-head-txt {
  font-size: 24px;
  white-space: nowrap;
}
@media (min-width: 1200px) {
  #my_img {
    height: 70vh;
  }
  #about {
    gap: 100px;
  }
  #about-txt {
    width: 40%;
  }
}
@media (min-width: 1000px) {
  #about-txt {
    width: 45%;
    font-weight: 400;
    font-size: 28px;
    margin: 0;
  }
  #about-head-txt {
    font-size: 32px;
  }
  #about {
    height: 85%;
    margin-top: 2%;
    padding: 10px 30px;
    display: flex;
    flex-direction: row;
    gap: 80px;
    align-items: center;
    justify-content: center;
    color: #393232;
    /* background: rgb(240, 240, 240);
    background: linear-gradient(
      90deg,
      rgba(240, 240, 240, 1) 27%,
      rgba(82, 82, 82, 1) 63%,
      rgba(19, 19, 19, 1) 82%
    ); */
  }
  #my_img {
    height: 60vh;
  }
}

#about-txt span {
  font-weight: 600;
}

/* When navbar folds in two rows */
@media (max-width: 600px) {
  #about {
    margin-top: 75px;
  }
}
