.project{
    width:30%;
    padding: 1%;
    margin: 20px 0;
    box-shadow: 0px 0px 6px white;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
.project:hover{
    box-shadow: 0 0 10px white;
    transition: 0.2s;
}
.project h2{
    font-size: 1.5vw;
    margin: 0 0 10px;
    transform: translateY(0%);
}
.project img{
    width:100%;
}

/* Project Info  */

.project:hover .info{
    display: block;
    transition: 1s;
}

.project .info{
    display: none;
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left:0;
    margin: 0;
    text-align: center;
}
.project .info p{
    font-size: 1.2vw;
    margin: 10% 5% 5%;
}

.project #btn-cont{
    position: absolute;
    bottom: 10%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}
.project #btn-cont a{
    padding: 2% 7%;
    font-size: 1.5vw;
    border-radius: 5px;
    background-color: #203239;
    color: white;
}
.project #btn-cont a:last-child{
    background-color: #4D77FF;
}
.project #btn-cont a:hover{
    transform: scale(1.05);
}
