@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Poppins:wght@200;300;400;500;600&display=swap");

body,
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: rgb(240, 240, 240);
}
